
<mat-form-field appearance="outline" class="constraints-selection-form" style="margin-right:10px">
    <mat-label>Choose constraints</mat-label>
    <mat-select [(ngModel)]="type" (selectionChange)="getConstraints(type)">
        <mat-option *ngFor="let constraint of constraintTypes | enumToArray" [value]="constraint">{{constraint | titlecase}} Constraints</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field class="constraints-filter-form" appearance="outline">
    <mat-label>Type to filter ...</mat-label>
    <input matInput type="text" [(ngModel)]="filter" [value]="filter">
    <button mat-button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="filter=null">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

<div  class="constraints">
    <div *ngFor="let constraint of constraints | constraintsFilter:filter" class="constraint">
        <div class="title">{{constraint.name}} <small *ngIf="(constraint.weight && constraint.weight != -1) || (constraint.weight != null && constraint.weight == 0)">(cost {{constraint.weight}})</small></div>
        <div class="description">{{constraint.description}}</div>
        <div class="asp">{{constraint.asp}}</div>
    </div>
</div>