// Extra small devices (landscape phones, up to 575.98px)
$breakpoint-xs: 575.98px;

// Small devices (landscape phones, 576px and up)
$breakpoint-sm: 576px;

// Medium devices (tablets, 768px and up)
$breakpoint-md: 768px;

// Large devices (desktops, 992px and up)
$breakpoint-lg: 992px;

// Extra large devices (large desktops, 1400px and up)
$breakpoint-xl: 1400px;
